<mat-progress-bar
  mode="indeterminate"
  *ngIf="pending | async"
></mat-progress-bar>

<main *ngIf="currentQueue$ | async; else noQueue">
  <div class="toolbar">
    <mat-paginator
      [length]="length | async"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <div class="queue-container">
    <div class="content">
      <app-model-card
        *ngFor="
          let model of (currentQueue$ | async)?.models
            | slice: pageIndex:pageIndex + pageSize;
          let i = index
        "
        [model]="model"
        [processing]="(currentQueue$ | async)?.currentIndex === i"
      >
      </app-model-card>
    </div>
  </div>
</main>

<ng-template #noQueue>
  <div class="no-item-message">
    <div class="content">
      <i-feather name="alert-circle"></i-feather>
      <span>No generated models found.</span>

      <div class="buttons">
        <a class="generate-button" (click)="confirmGenerateModels()"
          >Generate Models</a
        >
        <a class="editor-button" (click)="gotToEditor()">Template Editor</a>
      </div>
    </div>
  </div>
</ng-template>
