@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $primary-color: mat.get-color-from-palette($primary, 400);

  .create-collection-form {
    height: 100%;
    overflow: hidden;

    .container {
      display: flex;
      flex-direction: row;
      height: 100%;

      .side {
        width: 20%;
        background-color: rgba($primary-color, 0.5);
        padding: calc(var(--spacing) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;

        form {
          padding: calc(var(--spacing) / 2);
          flex-grow: 1;

          mat-expansion-panel {
            margin-bottom: calc(var(--spacing) / 2);
          }
        }

        .action-panel {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          button {
            margin: 0 var(--spacing) var(--spacing);

            background-color: var(--action-primary-color);
            color: var(--action-primary-text-color);

            &:disabled {
              opacity: 0.5;
            }
          }
        }
      }
    }

    .header {
      width: 100%;
      display: flex;
      margin-bottom: -56px;
      margin-top: 16px;
      margin-left: -16px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .create-collection-form {
      overflow-y: auto;
      .container {
        flex-direction: column;

        .side {
          background-color: transparent;
          width: 100%;
          margin-top: var(--spacing);
        }
      }
    }
  }
}
