@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $background: map.get($color-config, background);
  $is-dark-theme: map.get($color-config, "is-dark");
  $accent-color: mat.get-color-from-palette($accent, 400);
  $text-color: mat.get-color-from-palette($primary, text);
  $background-color: mat.get-color-from-palette($background, app-bar);

  .inline-input-field {
    input {
      background-color: transparent;
      text-decoration: underline;
      border: 0;
      outline: 0;
      color: $text-color;
    }
  }
}
