@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $text-color: mat.get-color-from-palette($primary, text);
  $typography-config: mat.get-typography-config($theme);
  $font-family: mat.font-family($typography-config);

  .inline-input-field {
    input {
      background-color: transparent;
      text-decoration: underline;
      border: 0;
      outline: 0;
      color: $text-color;
      font-family: $font-family;
      font-size: 14px;
      padding: 0;
    }
  }
}
