<div class="create-collection-form">
  <div class="header">
    <div class="spacer"></div>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="container">
    <div class="side">
      <app-cover-photo-selector
        [(model)]="coverPhoto"
      ></app-cover-photo-selector>
    </div>
    <div class="main">
      <form>
        <h1>General</h1>

        <app-text-area
          label="Description"
          [fullWidth]="true"
          [rows]="3"
        ></app-text-area>

        <app-input-field
          label="Supply"
          type="number"
          [min]="1"
        ></app-input-field>

        <app-input-field
          label="Royalty (%)"
          type="number"
          [max]="100"
        ></app-input-field>

        <h1>Dimensions (pixel)</h1>
        <app-input-field
          label="Width"
          type="number"
          [min]="1"
        ></app-input-field>
        <app-input-field
          label="Height"
          type="number"
          [min]="1"
        ></app-input-field>

        <h1>Mint Configuration</h1>
        <app-input-field
          label="Mint Price (Presale)"
          type="number"
        ></app-input-field>
        <app-input-field
          label="Mint Price (Public)"
          type="number"
        ></app-input-field>

        <app-input-field
          label="Max mint (Presale)"
          type="number"
        ></app-input-field>
        <app-input-field
          label="Max mint (Public)"
          type="number"
        ></app-input-field>

        <br />

        <app-input-field
          label="Max mint per Wallet"
          type="number"
        ></app-input-field>
      </form>

      <div class="action-panel">
        <button mat-flat-button>Create</button>
      </div>
    </div>
  </div>
</div>
