<div class="editor-side">
  <div class="header">
    <i-feather name="layers"></i-feather>
    <span>Traits</span>
    <div class="spacer"></div>
    <mat-icon
      *ngIf="(traits$ | async) && (collection$ | async)"
      matTooltip="Add"
      matTooltipClass="trait-tooltip"
      matTooltipPosition="above"
      [ngClass]="{ adding }"
      (click)="toggleAddTrait()"
      >add</mat-icon
    >
  </div>
  <div class="add-trait-field-container" *ngIf="adding" @slide>
    <input
      placeholder="Name"
      [(ngModel)]="newTraitName"
      (keydown.enter)="addNewTrait()"
      (keydown.escape)="toggleAddTrait()"
      #traitInputField
    />
  </div>

  <div
    *ngIf="(traits$ | async) && (collection$ | async); else loadingTraits"
    class="trait-list"
    cdkDropList
    (cdkDropListDropped)="positionChange($event)"
  >
    <div
      class="trait"
      *ngFor="let trait of traits$ | async; let i = index"
      cdkDrag
      appDnd
      (fileDropped)="addVariantFromFileList(i, trait, $event)"
    >
      <div class="trait-header">
        <i-feather
          [matTooltip]="trait.expand ? 'collapse' : 'expand'"
          matTooltipClass="trait-tooltip"
          matTooltipPosition="above"
          class="expand-button"
          [ngClass]="{ expand: trait.expand }"
          (click)="toggleExpandTraitDetails(i, trait)"
          name="chevron-right"
        ></i-feather>

        <app-inline-input-field [(value)]="trait.name"></app-inline-input-field>

        <sub *ngIf="trait.hidden" class="hidden-tag">Hidden</sub>
        <div class="spacer"></div>

        <i-feather
          name="tool"
          matTooltip="Configure"
          matTooltipClass="trait-tooltip"
          matTooltipPosition="above"
          class="configure-button"
          (click)="openTraitForm(trait, i)"
        ></i-feather>
      </div>

      <div *ngIf="trait.expand" class="trait-details">
        <app-trait-variant-item
          *ngFor="let variant of trait.variants; let vi = index"
          [variant]="variant"
          [selected]="trait.selectedVariant === vi"
          (variantChange)="onVariantChange(i, $event, trait, vi)"
          (select)="onVariantSelected(i, trait, vi)"
          (delete)="onDeleteVariant(i, trait, vi)"
        >
        </app-trait-variant-item>

        <div class="add-variant-button" (click)="addNewVariant(i, trait)">
          <mat-icon>add</mat-icon>
          Add Variant
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingTraits>
    <div class="trait-list loader">
      <app-trait-item-loader
        *ngFor="let i of [].constructor((traits$ | async)?.length ?? 1)"
      ></app-trait-item-loader>
    </div>
  </ng-template>
</div>
