@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $background: map.get($color-config, background);
  $is-dark-theme: map.get($color-config, "is-dark");
  $accent-color: mat.get-color-from-palette($accent, 400);
  $text-color: mat.get-color-from-palette($primary, text);
  $background-color: mat.get-color-from-palette($background, app-bar);

  .editor-side {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @if $is-dark-theme {
      background-color: rgba($background-color, 0.2);
    } @else {
      background-color: rgba($accent-color, 0.1);
    }

    .layer-list {
      flex-grow: 1;
      width: 100%;
      overflow: auto;

      .layer {
        padding: calc(var(--spacing) / 3);
        display: flex;

        @if $is-dark-theme {
          border-bottom: 1px solid rgba(39, 39, 39);
          box-shadow: 0.5px 0.5px 1px rgba($accent-color, 0.1);
        } @else {
          border-bottom: 1px solid rgba($accent-color, 0.8);
        }

        mat-icon {
          color: rgba($text-color, 0.5);
          transition: all 200ms ease-out;
          cursor: pointer;

          &:hover {
            color: $text-color;
          }

          &.expand {
            transform: rotate(90deg);
          }

          &.expand-button {
            margin-right: calc(var(--spacing) / 3);
          }

          &.delete-button {
            display: none;
          }
        }

        &:hover {
          mat-icon {
            &.delete-button {
              display: block;
            }
          }
        }
      }
    }
  }

  .layer-tooltip {
    margin-bottom: 0px;
  }
}
