<div class="editor-side">
  <div class="header">
    <span>Traits / Layers</span>
    <div class="spacer"></div>
    <mat-icon
      matTooltip="Add"
      matTooltipClass="layer-tooltip"
      matTooltipPosition="above"
      [ngClass]="{ adding }"
      (click)="toggleAddLayer()"
      >add</mat-icon
    >
  </div>
  <div class="add-layer-field-container" *ngIf="adding" @slide>
    <input
      placeholder="Name"
      [(ngModel)]="layerName"
      (keydown.enter)="addNewLayer()"
    />
  </div>

  <div
    class="layer-list"
    cdkDropList
    (cdkDropListDropped)="positionChange($event)"
  >
    <div class="layer" *ngFor="let layer of layers" cdkDrag>
      <mat-icon
        [matTooltip]="layer.expand ? 'collapse' : 'expand'"
        matTooltipClass="layer-tooltip"
        matTooltipPosition="above"
        class="expand-button"
        [ngClass]="{ expand: layer.expand }"
        (click)="layer.expand = !layer.expand"
        >keyboard_arrow_right</mat-icon
      >

      <app-inline-input-field [(value)]="layer.name"></app-inline-input-field>
      <div class="spacer"></div>

      <mat-icon
        class="delete-button"
        matTooltip="Remove"
        matTooltipClass="layer-tooltip"
        matTooltipPosition="above"
        >clear</mat-icon
      >
    </div>
  </div>
</div>
