<div class="editor-side">
  <div class="header">
    <i-feather name="layers"></i-feather>
    <span>Traits</span>
    <div class="spacer"></div>
    <mat-icon
      matTooltip="Add"
      matTooltipClass="layer-tooltip"
      matTooltipPosition="above"
      [ngClass]="{ adding }"
      (click)="toggleAddLayer()"
      >add</mat-icon
    >
  </div>
  <div class="add-layer-field-container" *ngIf="adding" @slide>
    <input
      placeholder="Name"
      [(ngModel)]="newLayerName"
      (keydown.enter)="addNewLayer()"
      (keydown.escape)="toggleAddLayer()"
      #layerInputField
    />
  </div>

  <div
    class="layer-list"
    cdkDropList
    (cdkDropListDropped)="positionChange($event)"
  >
    <div
      class="layer"
      *ngFor="let layer of layers; let i = index"
      cdkDrag
      appDnd
      (fileDropped)="addVariantFromFileList(layer, $event)"
    >
      <div class="layer-header">
        <i-feather
          [matTooltip]="layer.expand ? 'collapse' : 'expand'"
          matTooltipClass="layer-tooltip"
          matTooltipPosition="above"
          class="expand-button"
          [ngClass]="{ expand: layer.expand }"
          (click)="layer.expand = !layer.expand"
          name="chevron-right"
        ></i-feather>

        <app-inline-input-field [(value)]="layer.name"></app-inline-input-field>

        <sub *ngIf="layer.hidden" class="hidden-tag">Hidden</sub>
        <div class="spacer"></div>

        <i-feather
          name="tool"
          matTooltip="Configure"
          matTooltipClass="layer-tooltip"
          matTooltipPosition="above"
          class="configure-button"
          (click)="openLayerForm(layer, i)"
        ></i-feather>
      </div>

      <div *ngIf="layer.expand" class="layer-details">
        <app-layer-variant-item
          *ngFor="let variant of layer.variants; let vi = index"
          [variant]="variant"
          (variantChange)="onVariantChange($event, layer, vi)"
        >
        </app-layer-variant-item>
        <div class="add-variant-button" (click)="addNewVariant(layer)">
          <mat-icon>add</mat-icon>
          Add Variant
        </div>
      </div>
    </div>
  </div>
</div>
