@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, accent);
  $is-dark-theme: map.get($color-config, "is-dark");
  $accent-color: mat.get-color-from-palette($accent, 400);

  .trait-variant-item {
    box-sizing: border-box;
    display: flex;
    margin: calc(var(--spacing) / 4);

    i-feather {
      display: none;
      width: 18px;
      height: 18px;
    }

    &:hover {
      background-color: rgba($accent-color, 0.2);
    }

    .src-container {
      min-width: 50px;
      min-height: 50px;
      border-radius: 10px;
      background-color: rgba(white, 0.5);
      box-sizing: border-box;

      @if $is-dark-theme {
        border: 1px solid rgba($accent-color, 0.1);
      } @else {
        border: 1px solid rgba($accent-color, 0.8);
      }
      border-radius: 5px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }

    &.selected {
      .src-container {
        border: 2px solid rgba(limegreen, 0.5);
      }
    }
  }

  .file-input {
    display: none;
  }
}
