<div class="trait-loader" @fade>
  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{
      height: '20px',
      width: '270px',
      backgroundColor: this.backgroundColor
    }"
  ></ngx-skeleton-loader>

  <div class="variant-loader">
    <ngx-skeleton-loader
      *ngFor="let i of [].constructor(4)"
      animation="pulse"
      [theme]="{
        height: '50px',
        width: '50px',
        margin: 'calc(var(--spacing) / 4)',
        backgroundColor: this.backgroundColor
      }"
    ></ngx-skeleton-loader>
  </div>
</div>
