<div
  class="trait-variant-item"
  [ngClass]="{ selected }"
  (click)="select.emit()"
  [matTooltip]="name"
  matTooltipClass="variant-tooltip"
  matTooltipPosition="below"
>
  <div
    class="src-container"
    [ngStyle]="{ 'background-image': backgroundImageURL() }"
  >
    <div class="action-panel">
      <i-feather
        name="image"
        matTooltip="Change Image"
        matTooltipClass="trait-tooltip"
        matTooltipPosition="below"
        (click)="photoSelector.click()"
      ></i-feather>
      <i-feather
        name="trash-2"
        matTooltip="Remove"
        matTooltipClass="trait-tooltip"
        matTooltipPosition="below"
        (click)="delete.emit()"
      ></i-feather>
    </div>
  </div>

  <input
    type="file"
    class="file-input"
    (change)="onPhotoSelected($event)"
    accept="image/*"
    #photoSelector
  />
</div>
