<div class="collection-card">
  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{
      height: '200px',
      marginBottom: '0',
      backgroundColor: this.backgroundColor
    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{
      height: '16px',
      margin: '0',
      backgroundColor: this.backgroundColor
    }"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    animation="pulse"
    [theme]="{ height: '12px', backgroundColor: this.backgroundColor }"
  >
  </ngx-skeleton-loader>
</div>
